*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #097976;
    height: 100vh;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.container{
    
}
.container header{
    margin: 20px 0;
}

.container header h1{
    margin: 10px;
    font-size: 40px;
}
.container header input[type="text"]{
    border-radius: 12px;
    height: 40px;
    width: 350px;
    padding: 7px;
}
.container header input[type="submit"]{
    padding: 10px;
    border-radius: 20%;
    outline: none;
    border: none;
    cursor: pointer;
}
.container header input::placeholder{
    padding: 12px;
}
.container .body h2{
    font-size: 30px;
}
.task{
    background-color: #002745;
    border-radius: 25px;
    color: #fff;
    margin: 5px;
    padding: 10px;
}